body{
    background-image: linear-gradient(to top left, #EE4537,#EE4537,#FF6501, #FF6501);
}

.outerContainer{
    background-color: #FFF3D9;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    min-height: 105vh;
    padding-top:20%;
}


h1{
    font-family: 'Quantico', sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

